<!-- animation part -->

<div class="col-md-6">

  <div class="compdiv">
    <img class="compimg" src="images/monitor2.png" alt="computer">
    <!-- <img class="comp" src="https://img.icons8.com/external-xnimrodx-lineal-gradient-xnimrodx/64/000000/external-computer-back-to-school-xnimrodx-lineal-gradient-xnimrodx-2.png"/> -->
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="images/forest.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="images/tree.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="images/mask.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>
  </div>


</div>
